* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  body {
    overflow-x: hidden;
  }


.content {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    width: 85%;
    max-width: 1630px;
    margin: 0 auto;
    position: relative;
}


.header {

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--light-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-block {

}

.header-text {
  align-self: flex-end;
  font-size: 37px;
  line-height: 44px;
  color: var(--dark-color);
  flex-basis: 400px;
}

.header-text span {
  color: var(--assistant-color);
}


.header-nav {

}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-nav li {
  flex-basis: 15%;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);

}

.header-nav ul li:first-child {
  background-color: var(--main-color);
}

.header-nav a {
  width: 100%;
  padding: 25px;
  display: block;
  text-align: center;
  text-decoration: none;
  color:var(--main-color);
  font-size: 30px;
  line-height: 37px;
}

.header-nav .header-nav-link {
  color: var(--light-color);
}

.header-nav li:hover {
  border-top: 2px solid var(--assistant-color);
  border-bottom: 2px solid var(--assistant-color);
  border-left: 1px solid var(--assistant-color);
  border-right: 1px solid var(--assistant-color);
}

.header-nav li:hover {
  background-color: var(--assistant-color);
  color: var(--light-color);
}
.header-nav a:hover {
  background-color: var(--assistant-color);
  color: var(--light-color);
}

.header-nav .header-nav-link:hover {
  background-color: var(--main-color);
}

.header-contacts {
  display: flex;
}

.header-contact {
  display: flex;
}

.header-contact__icon {
  padding: 0 5px;
  border: 1.5px solid var(--assistant-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.header-contact__item {
  display: block;
  color: var(--main-color);
}

.header-contact-wrap {
  display: flex;
  flex-direction: column;
}

.header-block-item {
  display: flex;
}

.social {
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.btn {
    border: 2px solid var(--assistant-color);
    background-color: transparent;
    padding: 15px;
    width: 227px;
    color: var(--assistant-color);
    font-size: 22px;
    cursor: pointer;
}

.btn--light {
    border: 2px solid var(--light-color);
    color: var(--light-color);
}

.send-btn {
  width: 20%;
  background-color: var(--main-color);
  color: var(--light-color);
  cursor: pointer;
  font-size: 30px;
}

h2 {
    font-size: 70px;
}

.title-block {
    width: 52%;
    margin: 0 auto;
    text-align: center;
  }
  
  .title-block__header {
    display: inline;
    color: var(--main-color);
    position: relative;
    overflow-x: hidden;
  }
  
  .title-block__header::before,
  .title-block__header::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 4px;
    background-color: var(--assistant-color);
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .title-block__header::before {
    right: 110%;
  }
  
  .title-block__header::after {
    left: 110%;
  }
  
  .title-block__text {
    margin-top: 50px;
    font-size: 21.3333px;
    line-height: 25px;
    color: var( --dark-color);
  }
  

  