* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto;
  }
  

.main-bg {
    background: url("../img/photos/main-bg.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.content {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--light-color);
}

.container {
    width: 85%;
    max-width: 1630px;
    margin: 0 auto;
    position: relative;
}

.btn {
    border: 2px solid var(--assistant-color);
    background-color: transparent;
    padding: 15px;
    width: 227px;
    color: var(--assistant-color);
    font-size: 22px;
    cursor: pointer;
}

.btn--light {
    border: 2px solid var(--light-color);
    color: var(--light-color);
}

.send-btn {
  width: 20%;
  background-color: var(--main-color);
  color: var(--light-color);
  cursor: pointer;
  font-size: 30px;
}

h2 {
    font-size: 70px;
}

.title-block {
    width: 52%;
    margin: 0 auto;
    text-align: center;
  }
  
  .title-block__header {
    display: inline;
    color: var(--main-color);
    position: relative;
    overflow-x: hidden;
  }
  
  .title-block__header::before,
  .title-block__header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--assistant-color);
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .title-block__header::before {
    right: 110%;
  }
  
  .title-block__header::after {
    left: 110%;
  }
  
  .title-block__text {
    margin-top: 50px;
    font-size: 21.3333px;
    line-height: 25px;
    color: var( --dark-color);
  }
  

  