@media screen and (max-width: 1875px) {

  .header-slider {
      width: 66%;
  }

  .slider-header {
      font-size: 52px;
    }

    .slider-header-list li {
      font-size: 22px;
      line-height: 22px;
    } 

    
  .feedback-form {
      padding: 47px 60px;
  }

  .choose::after, 
    .choose::before {
     content: url('../img/photos/Rectangle-small.png');
    }

    .choose::after {
      right: 0;
      transform: translate(0, -50%) rotate(180deg);
    }

    .choose::before {
     left: 0;
    }
}

@media screen and (max-width: 1778px) {

    .medicine-item {
        padding: 32px 38px;
    }

    .medicine-item__text{
        font-size: 22px;
        line-height: 26px;
    }
    
    .medicine-item__icon {
        height: 75.75px;
        width: 65.25px;
        margin-right: 38px;
    }

    .admission-header{
        padding: 50px 0;
        font-size: 52px;
    }

    .admission-photo {
        width: 437px;
        height: 609px;
        left: -3%;
    }


    .admission-step {
        text-align: center;
        color: var(--light-color);
        flex-basis: 30%;
      }
      
      .admission-step__title {
        font-size: 44px;
      }
      
      .admission-step__text {
        font-size: 16.6778px;
        line-height: 20px
      }

      .admissin-form-header {
          font-size: 24px;
      }

      .gallery-slider-wrap {
        max-width: 840px;
      }
   
 
    /* .gallery-info h2 {
        font-size: 52px;
      }

      .gallery-info p {
          font-size: 16px;
      }

      .gallery-slider {
        max-width: 687px;
        height: 292.28px;
      } */

     
}

@media screen and (max-width: 1584px) {

    .about-img::after {
        width: 608px;
        height: 608px;
        background-size: cover;
      }

      .gallery {
          padding: 85px 0px 65px;
      }
        .gallery-info h2 {
        font-size: 52px;
      }

      .gallery-info p {
          font-size: 16px;
      }

      .slider-header {
        font-size: 52px;
        line-height: 61px;
      }
    
    .news-content-title {
        font-size: 52px;
    }

    .about-content-text {
        font-size: 16px;
    }

    .about-img {
        margin-right: 0;
        margin-left: auto;
    }

    .about-img img {
        max-width: 559px;
        max-height: 497px;
      }

      .news-item__img {
        max-width: 377px;
      }

      .checked-news-buttons {
        max-width: 377px;
      }

      .checked-news-btn {
            width: 377px;
            font-size: 22px;
      }

      .recent-news-date {
          font-size: 32px;
      }

      .recent-news-calendar {
        margin-right: 30px;
      }

      .news-item-title {
          font-size: 22px;
      }

      .news-item-text {
        font-size: 16px;
      }

      .recent-news-date {
          padding: 20px;
          font-size: 32px;
      }

      .recent-news-university {
        font-size: 16px;
        padding: 10px;
        text-align: center;
      }

      .gallery-slider-wrap {
        max-width: 687px;
      }

      .footer-content {
          gap: 20px 35px;
      }

      .footer-item {
          flex-basis: 228px;
      }

      .footer-item__title {
        font-size: 22px;
        margin-bottom: 20px;
      }
      
      .footer-item__text {
        font-size: 16px;
        line-height: 16px;
      }

   
}

@media screen and (max-width: 1555px)  {
  .header-slider__bg {
    max-width: 100%;
    object-fit: cover;
    display: block; 
    height: 450px;
  } 

 
  
  .about-item {
    flex-basis: 45%;
  }
  .about-item__icon {
    width: 76px;
    height: 76px;
  }

  .about-item__text {
    font-size: 16px;
  }

  .about-content-text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .medicine-item__link {
    font-size: 16px;
  }

  
  
 }

@media screen and (max-width: 1490px) {
    .gallery-slider-wrap {
            max-width: 687px;
            height: 296px;
          margin-left: auto;
      }
    
      .gallery-slider{
        height: auto;
        margin-bottom: 60px;
      }
      .gallery-slider .slick-dots {
        margin-top: 26px;
      }

      .gallery-content-item {
          max-width: 376px;
      }

      .choose-item-img---main {
        width: 101px;
        height: 101px;
      }

      .choose-item-img--shadow {
        width: 130px;
        height: 129px;
      }
  
      .choose-item__text,
      .choose-text {
        font-size: 16px;
      }
}

@media screen and (max-width: 1330px) {

  .choose::after {
    right: -47px;
  }

  .choose::before {
   left: -47px;
  }
    .medicine-item {
        padding: 20px 25px;
    }

    .medicine-item__text{
        font-size: 18px;
    }
    
    .medicine-item__icon {
        height: 60px;
        width: 50px;
        margin-right: 25px;
    }

    .admission-photo {
        left: -6%;
    }

    .news-container {
        flex-direction: column;
    }

    .news-container-left,
    .news-container-right {
        width: 100%;
    }

    .recent-news-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .recent-news-item {
      max-width: 330px;
    }

    .medicine-item__text {
      margin-bottom: 5px;
    }

    .gallery-slider-wrap {
      max-width: 630px;
    }
}

@media screen and (max-width: 1212px) {
    .medicine-item-wrap:nth-child(3n+1) { order: 1; }
    .medicine-item-wrap:nth-child(3n+2) { order: 1; }
    .medicine-item-wrap:nth-child(3n)   { order: 1; }

    .feedback {
      flex-direction: column-reverse;
    }

    .section  {
      margin-bottom: 100px;
    }

    .feedback-form,
    .header-slider {
      width: 100%;
      max-width: 100%;
    }

    .header-slider__bg {
      height: auto;
    }
  
    .medicine-item-wrap {
        flex-basis: 33%;
    }

    .choose-content {
     
        grid-template-areas: "info"
                                "content"
                              "button";
                              grid-gap: 50px;
      }

      .choose-text {
          max-width: 100%;
      }

      .choose-items {
        margin-top: 50px;
          flex-wrap: wrap;
          gap: 65px 20px;
      }

      .choose::before, 
      .choose::after {
        content: "";
      }

      .choose-item__text {
          font-size: 16px;
      }

      .choose-btn {
          margin: auto;
      }
    
      .about-img {
        margin-bottom: 20px;
      }

      .about-img img {
        max-width: 430px
      }

      
      .about-item__icon {
        width: 55px;
      }

      .about-content-text-block {
        margin-bottom: 0;
      }

      .about-img::after {
        background-image: none;
      }

      .about-img--float {
        margin-bottom: 2.5%;
        margin-left: 5.5%;
      }
     
      .about-img--float::after {
        width: 450px;
        height: 450px;
        background-image: url(../img/photos/rectangular.png);
      }


      .about-content {
        gap: 20px;
      }

    .admission-header {
        width: 100%;
    }

    .admission-photo {
       display: none;
      }
      
      .admission-steps-wrap {
        margin-left: auto;
      }

      .admission-step {
      
        flex-basis: 30%;
      }

     
      
      .admission__content {
        width: 100%;
      }
      
      .gallery {
        padding: 50px 0;
      }

      .gallery-content-item,
      .gallery-info {
          max-width: 100%;
    }
    .gallery-content {
        flex-direction: column;
      }

      .gallery-slider-wrap {
         height: auto;
         max-width: 100%;
      }
      .gallery-slider {
          max-width: 100%;
      }

      .gallery-slider .slick-dots {
        margin-top: 40px;
      }

      .gallery-btn {
          display: none;
      }

      .gallery-btn-mobile {
        display: block;
        margin: auto; 
      }

      .send-feedback-content {
          flex-direction: column;
          gap: 20px
      }
      

      .send-feedback-content textarea {
          height: 160px;
      }

      .send-feedback-content textarea,
.send-feedback-content input {
 
  width: 100%;
}
.send-btn {
    margin: auto;
    padding: 9px;
}
    
  }
  
  @media screen and (max-width: 930px) {
    .feedback-form {
      margin-top: 20px;  
    }

    .slider-header {
      font-size: 30px;
      line-height: 38px;
    }

    .header-slider__bg {
        object-position: 85%;
    }

    .slider-header-list li {
      font-size: 16px;
    }

    .header-slider-link  {
      font-size: 24px;
    }

    .header-slider__content {
      max-width: 49%;
    }

    .header-slider__bg {
      height: 450px;
    }

    .medicine-item__content {
      width: 100%;
    }
  
    .medicine-item-wrap {
        flex-basis: 50%;
    }

    .medicine-item-wrap:nth-child(odd) .medicine-item {
       background-color: var(--main-color--light);
    }
    
    .medicine-item-wrap:nth-child(even) .medicine-item {
        background-color: var(--main-color--light);
     }
 
     .medicine-item-wrap:nth-child(4n) .medicine-item,
     .medicine-item-wrap:nth-child(4n + 1) .medicine-item {
        background-color: var(--main-color);
    }

    

    .about-block {
      flex-basis: 100%;
  }
    .about-img {
      display: none;
     }
     
     .about-img-mobile {
       display: block;
       margin-bottom: 20px;
     }

     .about-block--full-width .about-img--float {
       display: block;
       margin-left: 30px;
       margin-bottom: 20px;
     }

     .about-img-mobile img {
       max-width: 100%;
       object-fit: cover;
       display: block;
     }

     .about-img--float img {
        max-width: 330px;
     }

     .about-img--float::after {
        width: 380px;
        height: 380px;
        right: -7%;
        z-index: -1;
        top: -16%
     }

     .about-item-btn {
     display: flex;
     justify-content: center;
     }

    .admission-header {
        font-size: 32px;
        padding: 30px 0;
    }

    .admission-steps {
        flex-direction: column;
        gap: 50px;
    }

    .admissin-form__content {
        flex-direction: column;
        gap: 13px;
    }

    .admission__content {
      width: 80%;
      margin: 0 auto;
    }

    .admissin-form-btn {
        width: 70%;
      }

      .choose-items {
          margin-left: 0;
      }

      .choose-item {
        flex-basis: 250px;
        margin: auto;
      }

      .footer-bg {
        padding: 50px 0;
      }

     

}

@media screen and (max-width: 850px) {
  .recent-news-item {
    max-width: 100%;
  }

  .section  {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 780px) {
    .news-item {
        flex-direction: column;
    }

    .news-item__img {
        max-width: 100%;
        margin-right: 0;
    }

    .checked-news {
        flex-direction: column;
    }

    .checked-news-buttons {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        margin-right: 0;
    }

    .checked-news-btn {
        width: 45%;
        font-size: 13px;
        line-height: 12px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 680px) {

  .header-slider__content{
    left: 35px
  }

  .header-slider__bg {
    height: 350px;
  }

  .slider-header {
    font-size: 20px;
    line-height: 24px;;
  }

  .slider-header-list {
    margin-bottom: 12px;
  }

  .slider-header-list li {
    font-size: 13px;
  }

  .header-slider-link {
    font-size: 12px;
  }

  .about-img--float img {
    max-width: 230px;
    margin-right: 10px;
  }

  .about-img--float::after {
   width: 230px;
   height: 230px;
   top: -26px;
  }

  .about-block--full-width .about-img--float{
    margin-left: 20px;
    margin-bottom: 15px;
  }
}


@media screen and (max-width: 640px) {

    .choose-items {
      flex-direction: column;
    }

    .choose-item {
        max-width: 250px;
        margin: auto;
      }
    .choose-item__text {
        font-size: 13px;
    }

    .medicine-item {
      padding: 8px 33px;
    }
    .medicine-item-wrap {
      flex-basis: 100%;
  }

  .medicine-item::before {
    border: 15px solid transparent;
    border-right: 15px solid var(--assistant-color);
    border-bottom: 15px solid var(--assistant-color);
  }
    
    .medicine-photo {
      width: 60%;
    }
    .medicine-item-wrap:nth-child(4n) .medicine-item,
    .medine-item-wrap:nth-child(4n + 1) .medicine-item {
        background-color: var(--main-color);
    }
    
    .medicine-item-wrap:nth-child(odd) .medicine-item {
        background-color: var(--main-color);
     }
 
     
     .medicine-item-wrap:nth-child(even) .medicine-item {
         background-color: var(--main-color--light);
      }

      .medicine-item__link  {
        position: static;
        margin-top: 18px;
        text-align: center;
      }
}

@media screen and (max-width: 540px) {
  

  .header-slider__bg {
    height: 230px;
  }
  .slick-arrow {
    width: 22px;
    height: 43px;
  }

  .feedback-form {
    margin-top: 10px;  
  }

  .slick-arrow img {
    width: 7px;
    height: 12px;
  }
  .about-item__text {
    font-size: 13px;
  }
    .news-content-subtitle span{
        font-size: 13px;
      }

    .news-content-title {
        font-size: 24px;
    }

    .gallery {
      padding: 30px 0;
    }


    .gallery-info h2 {
      font-size: 24px;
      line-height: 28px;
    }

    .gallery-info p {
      font-size: 13px;
      line-height: 15px
    }
    
    .gallery-slider-wrap{
      height: 202px;
    }

    .gallery-btn-mobile{
      margin-top: 35px;
    }
    
    .gallery-btn-mobile button{
      padding: 6px;
      font-size: 13px;
      line-height: 16px;
      width: 150px;
    }

      .admission-header {
        font-size: 24px;
        padding: 25px 0;
    }

      .feedback-comment__text {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 10px;
    }


    .choose-item-img---main {
        width: 80px;
        height: 80px;
      }

      .choose-item-img--shadow {
        width: 105px;
        height: 105px;
      }

    .blockquote {
        width: 29px;
        height: 25px;
        margin-bottom: 17px;
    }
      
      .footer-content {
       flex-direction: column;
    }
    
    .comment-author__avatar {
        width: 38px;
        height: 38px;
        margin-right: 17px;
    }
 
    .comment-author__avatar img {
        width: 37px;
        height: 37px;
    }
    .comment-author__name {
        font-size: 16px;
        line-height: 19px
    }

    .comment-author__status {
        font-size: 13px;
        line-height: 15px;
    }
   
    .feedback-comments-slider .slick-dots {
        margin-top: 26px;
    }

    .about-img--float img {
      max-width: 220px;
    }

    .admission-step__title {
      font-size: 34px;
      line-height: 40px;
    }

    .admission-header {
      border-top: 4px solid var(--main-color--light);
    border-left: 4px solid var(--main-color--light);
    border-right: 4px solid var(--main-color--light);
    }
}
  


@media screen and (max-width: 430px) {

   .medicine-item__icon {
      width: 35px;
      height: 40px;
      margin-right: 15px;
    }

    .medicine-item__text {
      font-size: 16px;
    }
  .header-slider__bg {
    object-fit: 75%;
  }

  .slider-header-list {
    padding-left: 20px;
  }

  .slider-header-list li{
    font-size: 10px;
    line-height: 15px;
  }

  .choose-content {
    grid-gap: 0;
  }

  .btn {
    width: 154px;
    padding: 6px;
    font-size: 13px;
    line-height: 22px;
  }

  .news-item-title {
    font-size: 16px;
  }
  .recent-news-date {
    padding: 20px 15px;
    width: 60px;
    font-size: 27px;
    line-height: 27px;
  }

  .date-months {
    font-size: 18px;
    line-height: 16px;
  }
  .news-item-text,
  .news-item-link {
    font-size: 13px;
  }

  .news-content-subtitle {
    margin-bottom: 20px;
  }

  .news-content-title {
    margin-bottom: 25px;
  }

  .news-container-item {
    margin-bottom: 20px;
  }

  .news-item__img,
  .news-item-title {
    margin-bottom: 14px;
  }

 .checked-news-btn {
    padding: 6px 8px;
    font-size: 13px;
    width: 162px;
 }

 .recent-news-item {
   margin-bottom: 0;
 }

 .recent-news-items {
   gap: 20px;
 }

 .about-img--float img {
  max-width: 140px;
}

.about-img--float::after {
  width: 150px;
  height: 150px;
  top: -19px;
  
}
}




