:root {
    --main-color: #001857;
    --main-color--light: #2E447E;
    --dark-color: #2F2424;
    --assistant-color: #B1040E;
    --main-font: Roboto;
    --light-color: #fff;
    --date-color: #001857;
  }